@media screen and (max-width: 768px) {

    @font-face {
        font-family: 'Roboto', sans-serif;
        src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap') format('woff2');;
    }
    
    @font-face {
        font-family: 'shrikhand', cursive;
        src: url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap') format('woff2');;
        font-weight: 700;
    }
    
    .colorprimaire{
        color: #9356dc;
    }
    
    .colorSecondaire{
        color: #FF79DA;
    }
    
    .colorTertiaire{
        color: #99E2D0;
    }
    
    .backgroundgray1{
        background-color: rgb(234, 234, 234);
    }
    
    .backgroundgray2{
        background-color: rgb(238, 238, 238);
    }
    
    .BackgroundBlack{
        background-color: rgb(53, 53,53);
    }
    
    .customBoderRadius{
        border-radius: 20px 20px 20px 20px;
    }
    
    .customFlex{
        display: flex;
    }
    
    .customFlexBtw{
        display: flex;
        justify-content: space-between;
    }
    
    .customFlexCenter{
        display: flex;
        justify-content: center;
    }
    
    
    .customFlexCenterAlign{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .customFlexColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .colorwhite{
        color: white;
    }
    
    .DisplayFlexend{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    html{
        height: 100%;
    }
    
    header{
        margin: 0 0;
    }
    
    body{
        margin: 0 0;
    }
    
    main{
        font-family: 'Roboto', sans-serif;
    }
    
    h1{
        font-size: 28px;
        color: black;
    }
    
    h2{
        font-size: 24px;
        color: black;
    }
    
    h3{
        font-size: 16px;
        color: black;
    }
    
    h4{
        font-size: 12px;
        color: black;
    }
    
    p{
        font-size: 22px;
        color: gray;
    }
    
    /*Loadingpage*/
    
    
    @keyframes spin {
        100% {transform: rotate(360deg);}
        }
    
        .loading-page{
            min-height: 100vh;
        }
            .loading-page-test {
            position: absolute;
            display: inline-block;
            width: 50px;
            height: 50px;
            border: 5px solid black;
            border-color: black transparent transparent;
            border-radius: 50%;
            animation: spin 1s linear infinite;
            }
    
    
    /*PAGE ACCUEIL*/
    
    /*Logo*/
    
    .ohmyfood-logo{
    
    }
        .ohmyfood-text{
            font-family: 'shrikhand';
            font-style: italic;
            text-align: center;
            margin: 3% 200px;
        }
    
    .localisation{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(234, 234, 234);
        box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
        width: 100%;
        margin-top: 10px;
    }
    
        .localisation-logo{
            margin-right: 5%;
            color: black;
        }
    
        .localisation h3{
            font-size: 20px;
            color: rgba(79, 78, 78, 0.762);
            margin-right: 5%;
            
        }
    
    .explorer-le-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(238, 238, 238);
        padding-bottom: 10%;
    }
    
        .explorer-le-menu-titre{
            text-align: center;
            width: 45%;
            margin-bottom: 2%;
        }
    
        .explorer-le-menu-soustitre{
            text-align: center;
            width: 70%;
            margin-top: 0;
            margin-bottom: 6%;
        }
    
        .explorer-btn{
            width: 45%;
            height: 50px;
            font-size: 1.0em;
            color: white;
            background-color: #9356dc;
            background: linear-gradient(to right, #d275d5, #9f62d5);
            border: none;
            border-radius: 20px;
    
        }
    
    
    /*Fonctionnement*/
    
    .fonctionnement h2{
        margin-left: 2%;
    }
    
    .fonctionnement-containeur{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
    }
        .fonctionnement-containeur-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 30%;
            border-radius: 20px 20px 20px 20px;
            background-color:  rgb(246, 246, 246);
            margin: 2%;
        }
    
        .fonctionnement-containeur-number{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            background-color: #9356dc;
            border-radius: 30px;
            margin-left: 20px;
            font-size: 18px;
            color: white;
        }
    
        .fonctionnement-containeur-icone{
            margin: 5px;
        }
    
        .fonctionnement-containeur-titre{
            margin-left: 5%;
            font-weight: bold;
        }
    
    
    /*Restaurant*/
    
    .restaurants{
        height: 100%;
    }
    
        .Restaurants-titre{
            padding-top: 3%;
            margin-left: 5%;
        }
    
            .Restaurants-titre h1{
                margin-bottom: 0;
            }
    
        .Restaurants-cards{
            width: 90%;
            margin: 20px 1px;
            border: 1px solid black;
            background-color: white;
            cursor: pointer;
        }
    
        .restaurant-image {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            object-fit: cover;
        }
    
        .nouveau_card {
            position: absolute;
            width: fit-content;
            margin: 0.7rem;
            background-color: #99E2D0;
            color: green;
            font-weight: bold;
            padding: 6px 10px;
            border-radius: 3px; }
    
        .restaurant-card-img{
            width: 100%; 
            height: 280px;
            border-radius: 30px 30px 0px 0px;
            object-fit: cover;
    
        }
    
        .restaurant-card-texte{
            display: flex;
            flex-direction: column;
    
            padding-left: 10px;
        }
    
            .restaurant-card-texte-titre{
                display: flex;
                justify-content: space-between;
                margin-top: 5px;
            }
    
            .restaurant-card-texte h2{
                margin: 5px 0px;
            }
    
            .restaurant-card-texte p{
                margin-top: 1px;
                margin-bottom: 20px;
    
            }
            
        .heart {
            width: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;
        }
    
            .heart .far {
                position: absolute;
                font-weight: 100;
            }
    
            .heart .fas {
                position: absolute;
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                background-image: linear-gradient(#9356DC, #FF79DA);
            }
    
            .heart .fas:active {
                opacity: 1;
                transition: opacity 600ms;
            }
            
            .heart .fas:hover {
                opacity: 1;
                transition: opacity 600ms;
            }
    
    /*Footer*/
    
        footer{
            height: 250px;
            padding-left: 20px;
        }
            
            .footer-titre{
                padding: 5% 0%;
                margin: 0 0 ;
                font-style: italic;
                font-weight: bold;
            }
    
            .BackgroundBlack p{
                margin-left: 15px;
            }
    
    
            .Footer-list p{
                margin: 3px;
                color: white;
            }
    
    
    
    
    
    
            
    /*PAGE2 A LA FRANCAIS*/
    
    /*LOGO*/
    
    .ohmyfood-logo-alafrancais {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
        .ohmyfood-arrow-btn {
            border: none;
            font-size: 25px;
            text-align: left;
            border: 1px solid blue;
        }
    
        .ohmyfood-text-alafrancais{
            font-family: 'shrikhand';
            font-style: italic;
        }
    
    
    /*IMAGE*/
    
        .ohmyfood-backgroundphoto{
            width: 100%;
        }
            
            .ohmyfood-backgroundphoto-img{
                width: 100%;
                object-fit: cover;
            }
    
    /*A La FRANCAIS */
    
            .Restaurants-page2{
                position: relative;
                margin-top: -20%;
                height: 100%;
            }
                .Restaurants-page2-titre{
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 7%;
                }
                    .Restaurants-page2-titre h1{
                        font-family: 'shrikhand';
                        font-style: italic;
                    }
    
                    .far fa-heart{
                        font-size: 0px;
                    }
    
            .Restaurants-page2-carte-titre{
                margin-left: 3%;
            }
    
            .Restaurants-page2-carte-titre::after{
                display: block;
                content: "";
                width: 50px;
                margin-top: -15px;
                border-bottom: 4px solid #99E2D0;
                
            }
                .Restaurants-page2-container{
                    width: 100%;
                    justify-content: center;
                }
    
                .Restaurants-page2-card{
                    background-color: white;
                    width: 90%;
                    height: 25%;
                    margin: 2% 0;
                }
                    .Restaurants-page2-card h2{
                        margin-top: 2%;
                        padding-left: 3%;
                        font-size: 20px;
                    }
    
                    .Restaurants-page2-card-detail{
                        justify-content: space-between;
                        margin-top: -6%;
                        padding-left: 3%;
                    }
                    
                        .Restaurants-page2-card-detail p{
                            font-size: 19px;
                        }
                        .prix{
                            margin-right: 3%;
                            color: black;
                            font-weight: bold;
                            
                        }
    
    
    /*BÙTTON*/
    
    .explorer-page2-le-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(238, 238, 238);
        padding-bottom: 10%;
        margin: 40px 0px;
    
    }
    
        .explorer-page2-btn{
            width: 45%;
            height: 70px;
            font-size: 1.5em;
            color: white;
            background-color: #9356dc;
            background: linear-gradient(to right, #d275d5, #9f62d5);
            border: none;
            text-align: center;
            border-radius: 40px;
    
        }
    }
    
    
    
    
    
    
    /*BREAKPOINT TABLETTE*/
    
    @media screen and (max-width: 992px);{
        
    
    
    
    }